[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "covidsymptom"]
	path = covidsymptom
	url = https://github.com/hugofitipaldi/covidsymptom
